/*同用样式*/

.login_parent {
	position: relative;
}

.tipFrame {
	margin-top: 10px;
	color: #EA5514;
	font-size: 12px;
}

.login {
	width: 420px;
	top: 50px;
}

@media only screen and (min-width: 768px) {
	.login {
		/*position: absolute;*/
		height: 415px;
		padding: 30px;
	}
}

label > span {
	color: #2d974d;
}

.fr {
	float: right;
}

.fr>a {
	text-decoration: none;
}

.clearMb {
	margin-bottom: 0!important;
}

#logFm {
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.41);
	border-radius: 8px;
	padding: 35px 0px 35px 25px;
}

@media (min-width: 768px) {
	.login_bg {
		background-image: url(../image/login-bg.png);
		background-size: 1000px 584px;
		height: 548px;
		width: 100%;
		background-color: #ecf5ef;
		background-repeat: no-repeat;
		background-position: center center;
	}
}


/*手机端样式*/

@media (max-width: 768px) {
	.login-container {
		width: 100%;
		margin-top: 30px;
	}
	.login {
		width: 100%;
		/*height: 415px;*/
		/*position: absolute;*/
		top: 50px;
	}
	.login_bg {}
	.login {
		width: 95%;
		margin: 0 auto;
	}
	#logFm{
		padding: 12px;
	}
	.nav>li>a{
		padding: 10px 13px;
	}
	.mt {
		margin-top: 6px !important
	}
}