@charset "utf-8";
/*
 created by 海枯 on 16/3/27
 * */
$common-color: #2d974d;
@media (max-width:778px) {
    #reset-wrapper {
        width: 100%;
        .lb-clear-right {
            padding-right: 0 !important;
        }
        input {
            padding-left: 0 !important;
        }
    }
}
@media (min-width:778px) {
    #reset-wrapper {
        max-width: 1000px;
        margin: 0 auto;
        #resetFm {
            margin: 50px 0 150px 50px;
        }
    }
    .top-tit {}
}
/**
     以下为全局样式
 */
#reset-wrapper {
    background: #eee;
    border: 1px solid #eee;
    margin-top: 30px;
    overflow: auto;
    .top-tit {
        padding: 10px 20px;
        background: #fff;
        .tit-icon {
            float: left;
            line-height: 23px;
        }
        .tit {
            float: left;
            font-size: 18px;
            margin-bottom: 0;
        }
    }
}
#resetFm {
    clear: both;
}
.fmItem {
    margin-top: 20px;
    overflow: auto;
}
#btn-sb {
    background: #fff;
    border: 1px solid $common-color;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 10px;
    outline: none;
    a {
        color: $common-color;
        text-decoration: none;
        font-size: 12px;
    }
}